
<div class="col-lg-3 ">
    <!-- Sidebar Holder -->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Cybage learning</h3>
            </div>
    
            
            <ul class="list-unstyled components">
            
                    <li class="active ">
                            <p class="myCourse"><i class="fas fa-users-cog me-2"></i> User Management</p>
                            <ul class="subMenu list-unstyled">
                                <li>
                                    <a routerLink="/users"><i class="fas fa-user me-2"></i>View Users</a>
                                </li>
                                
                            </ul>
                        </li>
                <li class="active ">
                    <p class="myCourse"><i class="fab fa-youtube me-2"></i>Course Management</p>
                    <ul class="subMenu list-unstyled">
                        <li>
                            <a routerLink="/categories"><i class="fas fa-tags me-2"></i>Category</a>
                        </li>
                        <li>
                            <a routerLink="/courses"><i class="fas fa-graduation-cap me-2"></i>Course</a>
                        </li>
                        <li>
                            <a routerLink="videos"><i class="fas fa-video me-2"></i>Video</a>
                        </li>
                    </ul>
                </li>
               
                <li>
                    <a href="#" class="myCourse"><i class="fas fa-file-alt me-2"></i>User Logs</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-chart-line me-2"></i>Reports</a>
                </li>
            </ul>

            
    
            <ul class="list-unstyled CTAs">
               
                <li>
                    <a routerLink="" class="article">Back to Home</a>
                </li>
            </ul>
    
            
        </nav>
        
    
        <!-- Page Content Holder -->
        <div id="content">
    
                <div class="container-fluid">
    
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    
                    </div>
               
    
    </div>

    