$sidebar-theme: #edeff0;
$theme-color: #3e416d;
$font-color: #29303b;
$font-faimily: gotham-rounded,helvetica neue,helvetica !important;
.formDiv{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    color: $font-color;
}
.headingFonts{
    color:$theme-color;
}
.myFonts{
    font-family: $font-faimily;
}
.videoPreview{
    height: 10vh;
    width: 10vw;
    border: 1px solid $sidebar-theme;
}