<br>
<div class="mt-5"></div>

    <footer class="text-dark  text-lg-start myFooter">

        <div class="container p-4 mb-5">
            <!--Grid row-->
            <div class="row ">
              <!--Grid column-->
              <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Cybage learning</h5>
        
                <p>
                    Cybage is a global software product engineering services organization, that designs and provides services in technology, strategy, and operations. Our scientifically- driven, data-oriented, and delivery-focused approach enables us to spot unmet needs, deliver concrete breakthrough products and services, and make organizations more innovative and agile.
                </p>
              </div>
              <!--Grid column-->
        
              <!--Grid column-->
              <div class="mb-4 mb-md-0 col-6 col-sm-6 col-md-6 col-lg-3">
                <h5 class="text-uppercase">Quick Links</h5>
        
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-dark footerContent">Services</a>
                  </li>
                  <li>
                    <a href="#!" class="text-dark footerContent">About</a>
                  </li>
                  <li>
                      <a href="#!" class="text-dark footerContent">Contact</a>
                    </li>
                  <li>
                    <a href="#!" class="text-dark footerContent">Our Projects</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
        
              <!--Grid column-->
              <div class=" mb-4 mb-md-0 col-6 col-sm-6 col-md-6 col-lg-3">
                <h5 class="text-uppercase mb-0">Social Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-dark footerContent "><i class="fab fa-facebook-f"></i>Link 1</a>
                  </li>
                  <li>
                    <a href="#!" class="text-dark footerContent"><i class="fab fa-twitter"></i>Link 2</a>
                  </li>
                  <li>
                    <a href="#!" class="text-dark footerContent"><i class="fab fa-instagram"></i>Link 3</a>
                  </li>
                  <li>
                    <a href="#!" class="text-dark footerContent"><i class="fab fa-whatsapp"></i>Link 4</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>

      <!-- Copyright -->
      <div class="text-center myBottom p-3 text-dark ">
        © 2021 Copyright:
        <a class="text-dark" href="#">G-6 Cybage E-Learning</a>
      </div>
      <!-- Copyright -->
    </footer>
