<section>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-2 ">


                <div>
                    <div>Achieve your goals with Cybage E-learning</div>
                    <div>
                        <div>
                            <div><img src="../../../assets/Icon-Learn.png" style="max-height: 55px;"></div>
                            <div><span>Learn the<br>latest skills </span><small>divke business analytics, graphic
                                    design,
                                    Python, and more</small></div>
                        </div>
                        <div>
                            <div><img src="../../../assets/Icon-Get-Ready.png" style="max-height: 55px;"></div>
                            <div><span>Get ready<br>for a career </span><small>in high-demand fields divke IT, AI and
                                    cloud
                                    engineering</small></div>
                        </div>
                        <div>
                            <div><img src="../../../assets/Icon-Earn-Degree.png" style="max-height: 55px;"></div>
                            <div><span>Earn<br>certificate </span><small>from a leading university in business, computer
                                    science, and more</small></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
</section>