
<div class="container-fluid myFonts">
    <div class="row float-end">
        <div class="col-lg-12">
            <a class="btn btn-primary myBtn" routerLink="/add-video"><i class="fas fa-plus pe-2"></i>New Video</a>
          </div>
    </div>
<div class="container myFonts">

    <!-- <div class="col-lg-4"><input type="text" name="search"  (ngModelChange)="getcourse($event)"  [(ngModel)]="search"></div> -->
   
<div class="row my-4">
    <div class="col-lg-2"></div>
   
    <div class="col-lg-3">
        <div class="card myRow">
            <div class="row ">
                <div class="card-body">
                    <h5 class="card-title ps-1 headingFonts">Courses
                    </h5>

                    <p class="card-text ">

                        <div class="box">

                            <div class="card mb-3 videoCourseCards" *ngFor="let c of courses">
                                <a (click)="getVideosByCourse(c.courseName)">
                                    <div class="row">
                                        <div class="col-4 px-3 py-3">
                                            <img src="{{c.courseLogo}}" alt="Course Logo"
                                                        class="img-fluid">
                                         </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title ">{{c.courseName | titlecase}}</h5>


                                            </div>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>



                        </div>


                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="card mb-3 myRow">
            <div class="row">
                <div class="card-body">
                        <h5 class="card-title ps-1 headingFonts" *ngIf="!courseName">All Videos</h5>
                        <h5 class="card-title ps-1 headingFonts" *ngIf="courseName">{{courseName}} <div class="float-end  seeAll pe-2">
                          ({{videosByCourseCount}}) Videos
                        </div>
                        </h5>
                   
                    <p class="card-text">

                        <div class="box">
                                <div class="px-5 text-center py-5"  *ngIf="videoByCourse.length==0">
                                        No Videos Found!!!
                                    </div>
                            <div class="card mb-3 videoCards" *ngFor="let vc of videoByCourse">
                                <div class="row">
                                    <div class="col-12 col-lg-4 ">
                                        <video src="{{vc.videoPath}}" width="150px" height="90px" controls></video>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <div class="card-body">
                                            <h5 class="card-title">{{vc.videoName | titlecase}}</h5>
                                            <p class="card-text">{{vc.videoDesc}}
                                            </p>
                                            <p class="card-text">{{vc.videoPrice | currency : "INR"}}
                                            </p>
                                            <p class="card-text"><small class="text-muted">{{vc.course}}</small>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-4">
                                            <a  class="btn btn-primary my-2 "  (click) = "editVideo(vc.videoId)" ><i class="far fa-edit"></i></a><br>
                                            <a  class="btn btn-danger my-2"  (click) = "deleteVideo(vc.videoId)"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

